
/* Theme Variables */
:root {
    /* Brand & semantic colors */
    --primary-color: #747BAA;
    --secondary-color: #161925;

    /* Priority colors */
    --priority-high-color: color-mix(var(--primary-color) 15%, #f00);
    --priority-medium-color: color-mix(var(--primary-color) 15%, #ffa800);
    --priority-low-color: color-mix(var(--primary-color) 15%, #48f);

    /* Neutral palette (derived from base black tone) */
    --neutral-100: var(--secondary-color);
    --neutral-75: hsl(from var(--neutral-100) h s calc((100 - l) * .25 + l));
    --neutral-60: hsl(from var(--neutral-100) h s calc((100 - l) * .40 + l));
    --neutral-50: hsl(from var(--neutral-100) h s calc((100 - l) * .50 + l));
    --neutral-25: hsl(from var(--neutral-100) h s calc((100 - l) * .75 + l));
    --neutral-10: hsl(from var(--neutral-100) h s calc((100 - l) * .90 + l));
    --neutral-5: hsl(from var(--neutral-100) h s calc((100 - l) * .95 + l));

    /* Success colors */
    --success-color: #40F99B;

    /* Error/danger colors */
    --danger: #FF101F;

    /* Typography scale */
    --font-scale-ratio: 1.125;
    --p-fs: 1rem;
    --h6-fs: calc(var(--font-scale-ratio) * var(--p-fs));
    --h5-fs: calc(var(--font-scale-ratio) * var(--h6-fs));
    --h4-fs: calc(var(--font-scale-ratio) * var(--h5-fs));
    --h3-fs: calc(var(--font-scale-ratio) * var(--h4-fs));
    --h2-fs: calc(var(--font-scale-ratio) * var(--h3-fs));
    --h1-fs: calc(var(--font-scale-ratio) * var(--h2-fs));
}

body {
    min-height: 100vh;
    background-color: var(--neutral-5);
    color: var(--neutral-100);
    font-family: Roboto, sans-serif;
}

* {
    color: inherit;
}

button {
    background-color: transparent;
}

/* Headings */
h1 {
    font-size: var(--h1-fs);
}

h2 {
    font-size: var(--h2-fs);
}

h3 {
    font-size: var(--h3-fs);
}

h4 {
    font-size: var(--h4-fs);
}

h5 {
    font-size: var(--h5-fs);
}

h6 {
    font-size: var(--h6-fs);
}

/* Paragraphs */
p {
    font-size: var(--p-fs);
}

.icon {
    width: 1.5rem;
}

body:has(.sidebar:not(.collapsed)) {
    padding-left: 20rem;
}

.sidebar {
    position: fixed;
    left: 0;
    min-height: 100vh;
    height: 100%;
    z-index: 1;
    min-width: 20rem;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--neutral-5);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all .2s ease;
}

.sidebar.collapsed {
    transform: translateX(-100%);
    width: 0;
}

.toggle-sidebar-button {
    border: none;
    border-radius: 17.5%;
    background-color: transparent;
    padding: .5%;
    align-self: flex-end;
}

.sidebar.collapsed .toggle-sidebar-button {
    transform: translateX(calc(100% + 1.75rem));
}

.sidebar:not(.sidebar.collapsed) .toggle-sidebar-button {
    filter: invert(100%);
}

.toggle-sidebar-button .icon {
    width: 2rem;
}

#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 4rem;
}

button .icon {
    filter: invert(.1);
}
